body {
    background: linear-gradient(136deg, #e7d616, #de2720);
    background-size: 400% 400%;
}

.card-header {
    text-align: center;
    background: linear-gradient(180deg, white, orange);
}

.card-body {
    background: linear-gradient(180deg, orange, white);
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}